<h1><%= @person.first_name %></h1> 
<h1><%= @person.last_name %></h1>
<h2><%= @person.age %></h2>
<h4><%= @person.alive %></h4>
<p><%= @person.hair_color %></p>
<p><%=  @person.eye_color %></p>
<%= link_to 'Back', people_path %>
